.nav {
  padding: 1%;
  background-color: #787878;
  width: 100%;
  margin-bottom: 5%;

  background: linear-gradient(270deg, #773796, #2eb5ef);
  background-size: 200% 200%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  img {
    float: right;
  }
}

.navModal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.navItem {
  width: 50%;
  padding: 5%;
  height: 25%;
  float: left;

  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #404040;
}
